# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


.ipynb_checkpoints
/.ipynb_checkpoints
.idea
/.idea
.__pycache__


.env
*.cpython-39.pyc
*.lnk
*.png

*.xml
*.csv
*.xlsx

funds_buyhold_perf_analystics.ipynb
funds_buysell_perf_analystics.ipynb
TopAssetROC.ipynb

