# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.venv
.ipynb_checkpoints
/.ipynb_checkpoints
.idea
/.idea
.__pycache__


*.properties
.env
*.cpython-39.pyc
*.lnk
*.png

*.xml
*.csv
*.xlsx



